body{
    background-color: #4696e5;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: ;
    align-items: ;
    
}

#message {
    width: 400px;
    height: 300px;
    
}